# 全てのユーザーの情報
<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'layouts/sidebar', user: current_user, book: @book %>
    </div>
  </div>
</main>