# 全てのユーザーの情報
<h2>User info</h2>
<%= image_tag @user.get_profile_image(100,100) %>
<table>
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <%= @user.introduction %>
    </tr>
  </tbody>
</table>

